<h1 class="page_title">Tasks</h1>

<%= t('views.search') %>
<%= form_with(model: Task.new, url: tasks_path, local: true, method: :get) do |form| %>
  <table class="search_form">
    <tr>
      <th><%= form.label :title, t('views.title') %></th>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <th><%= form.label :content, t('views.content') %></th>
      <td><%= form.text_field :content %></td>
    </tr>
    <tr>
      <th><%= form.label :status, t('views.status') %></th>
      <td><%= form.select :status, options_for_select([
                                                          ['--', ''],
                                                          [t("views.not_yet_arrived"), 'not_yet_arrived'],
                                                          [t('views.underway'), 'underway'],
                                                          [t('views.complete'), 'complete'],], selected: '')
      %>
      </td>
    </tr>
  </table>
  <%= form.hidden_field :search, value: "true" %>
  <%= form.submit t('views.search'), name: :search %>

<% end %>
<%= link_to '再度読み込み', tasks_path(reload: "true"), class: "btn btn-primary reload-btn" %>
<table class="index_table">
  <thead>
  <tr>
    <th class="col-md-auto"><%= t('views.title') %></th>
    <th class="col-md-auto"><%= t('views.content') %></th>
    <th class="col-md-auto">
      <%= t('views.expired_at') %>
      <%= link_to t('views.expired_at_sort_asc'), root_path(sort_expired_asc: "true") %>
      <%= link_to t('views.expired_at_sort_desc'), root_path(sort_expired_desc: "true") %>
    </th>
    <th class="col-md-auto"><%= t('views.status') %></th>
    <th class="col-md-auto">
      <%= t('views.priority') %>
      <%= link_to t('views.sort_priority_asc'), root_path(sort_priority_asc: "true") %>
      <%= link_to t('views.sort_priority_desc'), root_path(sort_priority_desc: "true") %>
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <div class="task_list">
    <% @tasks.each do |task| %>
      <tr>
        <td align="center"><%= task.title %></td>
        <td align="center"><%= task.content %></td>
        <td align="center"><%= short_time(task.expired_at) %></td>
        <td align="center"><%= status_name(task.status) %></td>
        <td align="center"><%= task.priority_i18n %></td>
        <td><%= link_to t('views.show'), task_path(task), class: "btn btn-info btn-sm" %></td>
        <td><%= link_to t('views.edit'), edit_task_path(task), class: "btn btn-info btn-sm" %></td>
        <td><%= link_to t('views.delete'), task_path(task), method: :delete, data: {confirm: '本当に削除してもよろしいですか?'}, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>

<%= paginate @tasks %>

<br>

<%= link_to t('views.new_task'), new_task_path %>

