<p>
  <strong><%= t('views.title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('views.content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('views.expired_at') %>:</strong>
  <%= short_time(@task.expired_at) %>
</p>

<p>
  <strong><%= t('views.status') %>:</strong>
  <%= status_name(@task.status) %>
</p>

<p>
  <strong><%= t('views.priority') %>:</strong>
  <%= @task.priority_i18n %>
</p>

<%= link_to t('views.edit'), edit_task_path(@task) %>
<%= link_to t('views.back'), tasks_path %>
